.features {
    background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
    width: auto;
    height: 637px;
}

.container-features {
    align-items: center;
    margin: 217px auto;
    max-width: 1140px;
    display: flex;
}

.features__ill2 {
    width: 508.12px;
    height: 417.07px;
}

.features__inner {
    width: 400.88px;
    margin-left: 204px;
    margin-top: 55px;
}

.features__ul {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.features__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.features__paragraph {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.features__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 15px;
}