.footer-container {
    width: auto;
    height: 277px;
    background: #F6F5F5;
    margin-top: -200px;
    
}

.footer {
    max-width: 1440px;
    align-items: center;
    display: flex; 
    justify-content: space-between;
    padding-top: 174px;
    margin: 0px auto;
}

.footer__title {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 0px;
    margin-right: 150px;
}

.footer__logo {
    margin-right: 10px;
}

.credit {
    margin-left: 150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;

}

.social-networks {
    margin-bottom: -30px;
}